.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #242424;
}

.header {
  width: 30vw;
  border-radius: 50%;
  margin: 0 auto;
  font-family: "Montagu Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  text-align: center;

  color: #ffffff;
}

/* Create Account */
.loginInputs {
  position: absolute;
  width: 30vw;
  border-radius: 50%;
  margin: 0 auto;

  border: 2px solid #c9d0db;
  border-radius: 5px;
}

.loginInputsp {
  position: absolute;
  width: 456px;
  height: 51px;
  margin: auto;
  top: 420px;

  border: 2px solid #c9d0db;
  border-radius: 5px;
}

/* Create Account */
.loginSubmit {
  position: absolute;

  margin: auto;
  position: absolute;
  width: 13vw;
  border-radius: 50%;
  margin: 0 auto;

  border: 2px solid #ffffff;
  border-radius: 5px;
}

.TOS {
  position: absolute;
  width: 733px;
  height: 59px;
  left: 420px;
  top: 640px;

  font-family: "Montagu Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #ffffff;
}

.checkBox {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 535px;
  top: 640px;

  border: 2px solid #ffffff;
  border-radius: 1px;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: #1e4c8f;
}
