.rectangle {
  position: absolute;
  width: 658px;
  height: 563px;
  left: 430px;
  top: 160px;

  background: #242424;
  border-radius: 25px;
}

.header {
  position: absolute;
  width: 384px;
  height: 54px;
  left: 560px;
  top: 170px;

  font-family: "Montagu Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  text-align: center;

  color: #ffffff;
}

.loginInputs {
  position: absolute;
  left: 36vw;
  border: 2px solid #c9d0db;
  border-radius: 5px;
  position: absolute;
  width: 400px;
  height: 50px;
}

.U {
  top: 300px;
}

.E {
  top: 380px;
}

.P {
  top: 460px;
}

/* Create Account */
.loginSubmit {
  position: absolute;
  width: 284px;
  height: 43px;
  left: 620px;
  top: 569px;
  font-size: large;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.TOS {
  position: absolute;
  width: 733px;
  height: 59px;
  left: 420px;
  top: 640px;

  font-family: "Montagu Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #ffffff;
}

.checkBox {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 535px;
  top: 640px;

  border: 2px solid #ffffff;
  border-radius: 1px;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: #1e4c8f;
}

.link {
  color: rgb(69, 69, 243);
}

input {
  font-size: large;
}
