.tierlist {
  display: grid;
  grid-template-columns: 185px 1fr;
  grid-template-rows: repeat(5, 120px);
}

.tier {
  display: flex;
  background-color: aqua;
  border: solid black;
  font-size: 35px;
  align-items: center;
  height: 100px;
}

body {
  background-color: rgba(17, 92, 221, 0.559);
}

.dragList {
  display: flex;
  font-size: 35px;
  align-items: center;
  height: 150px;
}

.tierLabel {
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
}
.collegeSpace {
  background-color: #191919;
  border: solid black;
}

.Reach {
  background-color: rgb(255, 127, 127);
}

.Mid {
  background-color: rgb(255, 191, 127);
}

.Safety {
  background-color: rgb(255, 223, 127);
}

.C {
  background-color: rgb(255, 255, 127);
}

.Undecided {
  background-color: rgb(191, 255, 127);
}

.hikaru {
  width: 180px;
}

.item {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}
