.Background {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: #1e4c8f;
}

.rectangleL {
  position: absolute;
  width: 515px;
  height: 580px;
  left: 498px;
  top: 50px;

  background: #242424;
  border-radius: 25px;
}

.Header {
  position: absolute;
  width: 146px;
  height: 54px;
  left: 680px;
  top: 80px;

  font-family: "Montagu Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  text-align: center;

  color: #ffffff;
}

.Header2 {
  position: absolute;
  width: 483px;
  height: 18px;
  left: 515px;
  top: 180px;

  font-family: "Montagu Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #ffffff;
}

.LoginSubmit {
  position: absolute;
  width: 138px;
  height: 43px;
  left: 680px;
  top: 450px;
  font-size: large;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.Footer {
  position: absolute;
  width: 733px;
  height: 59px;
  left: 390px;
  top: 550px;

  font-family: "Montagu Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #ffffff;
}

.loginInputU {
  position: absolute;
  left: 36vw;
  border: 2px solid #c9d0db;
  border-radius: 5px;
  position: absolute;
  width: 400px;
  height: 50px;
  top: 250px;
}

.loginInputP {
  position: absolute;
  left: 36vw;
  border: 2px solid #c9d0db;
  border-radius: 5px;
  position: absolute;
  width: 400px;
  height: 50px;
  top: 350px;
}

.linkL {
  color: rgb(69, 69, 243);
}
