body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.StartpageContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 150vh;
  width: 100vw;
}

.StartHeader {
  grid-area: 1 / 1 / 2 / 2;
  background-color: aquamarine;
  font-size: 23px;
}
.StartBody {
  grid-area: 2 / 1 / 3 / 2;
}
.StartBottom {
  grid-area: 3 / 1 / 4 / 2;
}

.StartHeaderContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
}

.H-Section1 {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
}
.H-Section2 {
  grid-area: 1 / 2 / 2 / 3;
}
.H-Section3 {
  grid-area: 1 / 3 / 2 / 4;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#StartH-logo {
  height: 150px;
  width: 200px;
}

#StartB-1 {
  position: absolute;
  width: 480px;
  height: 400px;
  left: 0px;
  top: 156px;
  opacity: 0.5;
  z-index: 1;
}

#StartB-2 {
  position: absolute;
  width: 480px;
  height: 400px;
  left: 480px;
  top: 156px;
  opacity: 0.5;
  z-index: 1;
}

#StartB-3 {
  position: absolute;
  width: 463px;
  height: 400px;
  right: 0px;
  top: 156px;
  opacity: 0.5;
  z-index: 1;
}

#searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  width: 550px;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  top: 50%;
  border: solid black 1px;
  margin: 0 auto;
  left: 440px;
}

#uTextbox {
  position: absolute;
  align-items: center;
  justify-items: center;
  z-index: 2;
  margin: 0 auto;
}

.CollegeSearch {
  opacity: 0%;
  z-index: 5;
  width: 550px;
  margin: 0 auto;
  left: 440px;
}
